<h1>Your Booking on flight <%= @booking.flight_id %></h1>
<p>Dear <%= @name %>,</p>
<p>Thank you for choosing to travel with us.<br>
   Please follow the link below to find information about your booking.</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>Have a nice trip!</p>
