<% @flight ||= Flight.find(params[:flight_id]) %>

<% if @booking.errors.any? %>
  <h3>The following errors prevented the booking from being confirmed:</h3>
  <ul>
    <% @booking.errors.full_messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>

<h1>Book flight</h1>
<h3>Flight information</h3>
<%= render 'flights/flight_information', flight: @flight %>

<%= render 'booking_form', booking: @booking, flight_id: @flight.id %>

<%= link_to 'Back to flights', root_path %>
