<h1>Booking information</h1>
<p>Flight <%= @booking.flight_id %></p>

<h3>Passenger information</h3>
<% @booking.passengers.each do |passenger| %>
  <p>Name: <%= passenger.name %></p>
  <p>Email: <%= passenger.email %></p>
  <br>
<% end %>
