<h1>Booking information</h1>
<h2>Flight <%= @booking.flight_id %></h2>

<h3>Flight information</h3>
<%= render 'flights/flight_information', flight: Flight.find(@booking.flight_id) %>

<h3>Passenger information</h3>
<% @booking.passengers.each do |passenger| %>
  <p>Name: <%= passenger.name %></p>
  <p>Email: <%= passenger.email %></p>
  <br>
<% end %>
